body {
  background: var(--surface-lowest) !important;
}




 .header-hero {
  background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://staticm11.app.flow.com.ar/images/content/1920/1080/m4d9buXOsPYXRO1dLJ5Zhw");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 450px;
  padding: 3rem 2rem;
}



a{
  color: #fff !important;
  text-decoration: none !important;
}

/* MÓVIL */
@media (max-width: 767.98px) {
  .header-hero {
    min-height: 560px;
    background-position: top center;
  }
  .episodio-num {
    font-size: 1.75rem;
  }
}