body {
  background: var(--surface-lowest) !important;
}




 .header-hero {
  min-height: clamp(520px, 85vh, 820px); 
  display: flex;
  align-items: flex-end;
  background:
    linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("https://staticm11.app.flow.com.ar/images/content/400/600/-GoTxQ2aQvBehP_TBXDyDw?tags=TEXT,VERTICAL");
}



.episodio-num {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.2);
}

/* MÓVIL */
@media (max-width: 767.98px) {
  .header-hero {
    min-height: 560px;
  }
  .episodio-num {
    font-size: 1.75rem;
  }
}