.navbar {
    background-color: var(--surface-lowest);
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: fixed !important;
    top: 0 ;
    width: 100%;
    z-index: 1000;
}
body{
    padding-top: 70px;
}
img {
    width: 150px;
    height: 45px;
}
.logos .navbar-brand {
    text-decoration: none;
    font-size: 32px;
    transition: 0.3s;
}
.navbar-brand .hot {
  font-weight: 700;
      background: linear-gradient(
        to bottom,
        #ffb000 0%,
        #ff7a00 25%,
        #ff3d00 50%,
        #e50914 75%,
        #b00000 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navbar-brand .flix {
  color: var(--text-primary);
  font-weight: 500;
}
.inicioS input {
    background-color: var(--surface-container-low);
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 20px;
    color: #d1d5db;
    padding-left: 10px;
}
.inicioS input::placeholder {
    color: hsl(7, 54%, 81%);
}
.inicioS,
.logos {
    display: flex;
    align-items: center;
    gap: 20px;
}
.inicioS a,
.logos a {
    color: hsl(7, 54%, 81%);
    text-decoration: none;
}
.logos .in {
    font-weight: 500;
}
.iS {
    font-weight: 500;
}
.sus {
    border-radius: 15px;
    background-color: var(--color-primary);
    cursor: pointer;
    transition: 0.3s;
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-weight: 700;
    color: #d1d5db;
}
.sus:hover {
  box-shadow: 0 0 10px #e50914,
              0 0 25px #e50914,
              0 0 40px #e50914;
}
/* =========================
   MENÚ RESPONSIVE
========================= */

#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    color: hsl(7, 54%, 81%);
    font-size: 28px;
    cursor: pointer;
}

.menu-mobile {
    display: flex;
    align-items: center;
}

.mobile-links {
    display: none;
}


/* =========================
   CELULAR
========================= */

@media (max-width: 480px) {
    .navbar {
        flex-wrap: wrap;
        width: 100%;
    }
    .navbar-brand span {
        display: none;
    }
    .in  {
        display: none;
    }
    /* Mostramos hamburguesa */
    .menu-icon {
        display: block;
    }
    /* Menú cerrado */
    .menu-mobile {
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 20px;
        gap: 15px;
    }
    /* Cuando se toca ☰ */
    #menu-toggle:checked ~ .menu-mobile {
        display: flex;
    }
    /* Parte derecha */
    .inicioS {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .inicioS form {
        width: 100%;
    }

    .inicioS input {
        width: 100%;
    }
}
@media (min-width:485px) and (max-width:1024px) {
  .in {
    display: none;
  }
.sus {
    display: none;
  }
}